<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mugpet.dao.mybatis.mapper.WishMapper">
	<sql id="wishCols">
		item_id, want, u_id
	</sql>
	
	<select id="getWishList" parameterType="MemberInfo" resultType="Wish">
		SELECT <include refid="wishCols" />
		FROM Wish
		WHERE u_id=#{u_id} AND want=#{1}
	</select>

	<select id="getWishItemInfo" parameterType="int" resultType="Item">
		SELECT itemName, price, imageUrl
		FROM Item
		WHERE item_id=#{item_id}
	</select>
	
	<insert id="insertWish" parameterType="Wish">
		INSERT INTO Wish (<include refid="wishCols" />)
		VALUES (#{item_id}, #{want}, #{u_id})
	</insert>
	
	<delete id="deleteWish" parameterType="Wish">
		DELETE FROM Wish
		WHERE u_id=#{u_id} AND want=#{false}
	</delete>
</mapper>