.itemInfoTable {
	margin: auto;
	margin-top: 30px;
}

#itemImgBox {
	width: 450px;
	height: 450px;
}

#itemImg {
	width:370px;
	height:370px;
}

#info1 {
	width:500px;
	height:140px;
	line-height: 150%;
	vertical-align : top;
}

#spe {
	padding:2px 6px;
	background-color:#FFD1FF;
	color:white;
	font-size:13px;
	border-radius: 30px;
}

#brand {
	font-size:13px;
}

#itemName {
	font-size:27px;
	font-weight:bold;
}

#price {
	font-size:20px;
	font-weight:bold;
	vertical-align : top;
	height:30px;
}

#comments {
	font-size:17px;
	width:500px;
	padding-top:7px;
	vertical-align : top;
	line-height:120%;
}

#btnBox {
	text-align:right;
}

#wishBtn {
	width:40px;
	height:40px;
	margin-right: 10px;
}

#cartBtn {
	background-color:white;
	color:black;
	font-weight:bold;
	border-color: black;
	margin-right: 10px;
	padding:8px 35px;
}

#buyBtn {
	background-color:#FFE593;
	font-weight:bold;
	border-color: #FFE593;
	padding:8px 35px;
	margin-right:10px;
}